{{> menu}}

<section class="section">
  <div class="title">Edit POI</div>
  <form action="/poi/update/{{poi._id}}" method="POST">
    <div class="field is-vertical">
      <div class="field-body">
        <div class="field">
            <label class="label">POI Name</label> <input class="input" type="text" value={{poi.name}} name="name">
        </div>
        <div class="field">
            <label class="label">Category</label>
            <div class="select">
            <select name="category">
                {{#each categories}}
                <option value={{_id}}>{{name}}</option>
                {{/each}}
            </select>
            </div>
        </div>
        <div class="field">
            <label class="label">Description</label> <input class="input" type="text" value="{{poi.description}}" name="description">
        </div>
        <div class="field">
            <label class="label">Latitude</label> <input class="input" type="number" value={{poi.latitude}} min="-90" max="90" step="any" name="latitude">
        </div>
        <div class="field">
            <label class="label">Longitude</label> <input class="input" type="number" value={{poi.longitude}} min="-180" max="180" step="any" name="longitude">
        </div>
        <div class="field">
          <input class="input" type="hidden" value={{poi._id}} name="id" readonly>
        </div>
      </div>
    </div>
    <div class="field is-grouped">
      <div class="control">
        <button type="submit" class="button is-link">Update POI</button>
      </div>
      <div class="control">
        <a href="/poi/{{poi._id}}" class="button is-link is-light">Discard Changes</a>
      </div>
    </div>
  </form>

</section>