{{#each groupedPois}}
  <h2 class="title is-3">
    {{_id.name}}s
  </h2>
  {{#each pois}}
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          {{this.name}}
        </p>
        <button class="card-header-icon" aria-label="more options">
          <span class="icon">
            <i class="fa-solid fa-location-pin"></i>
          </span>
        </button>
      </header>
      <div class="card-image">
        <figure class="image is-3by1">
          <img src="/images/poi-placeholder.jpg" alt="Placeholder Image">
        </figure>
      </div>
      <div class="card-content">
          <div class="content">
            {{this.description}}
          </div>
        </div>
        <footer class="card-footer">
          <a href="/poi/{{this._id}}" class="button is-medium is-fullwidth">
            <i class="fa-solid fa-folder-open"></i>
          </a>
          <a href="/dashboard/deletepoi/{{this._id}}" class="button is-medium is-fullwidth">
            <i class="fa-solid fa-trash-can has-text-danger"></i>
          </a>
        </footer>
      </div>
    <br>
  {{/each}}
  <hr>
{{/each}}